{% extends "base.html" %}
{% block title %}Home || E-SHOP {% endblock title %}
{% load static %}
{% block css %} <link rel="stylesheet" href="{% static 'assets/css/index.css' %}"> {% endblock css %}

<style>
   
      
   
</style>
{% block body %}

 <main class="main">

    <div class="intro-slider-container mb-5">
        <div class="intro-slider owl-carousel owl-theme owl-nav-inside owl-light" data-toggle="owl" 
            data-owl-options='{
                "dots": true,
                "nav": false, 
                "responsive": {
                    "1200": {
                        "nav": true,
                        "dots": false
                    }
                }
            }'>
        
        {% for banner in banners %}
            <div class="intro-slide" style="background-image: url({{banner.image.url}});">
                <div class="container intro-content">
                    <div class="row justify-content-end">
                        <div class="col-auto col-sm-7 col-md-6 col-lg-5">
                            {% comment %} <h3 class="intro-subtitle text-primary">New Arrival</h3><!-- End .h3 intro-subtitle --> {% endcomment %}
                            <h1 class="intro-title">{{banner.product.name}}</h1><!-- End .intro-title -->
    
                            <div class="intro-price">
                                <sup>Today:</sup>
                                <span class="text-primary">
                                    &#2547;{{banner.product.price}}
                                </span>
                            </div><!-- End .intro-price -->
    
                            <a href="category.html" class="btn btn-primary btn-round">
                                <span>Shop More</span>
                                <i class="icon-long-arrow-right"></i>
                            </a>
                        </div><!-- End .col-md-6 offset-md-6 -->
                    </div><!-- End .row -->
                </div><!-- End .intro-content -->
            </div><!-- End .intro-slide -->
        {% endfor %}
        </div><!-- End .intro-slider owl-carousel owl-simple -->
    
        <span class="slider-loader"></span><!-- End .slider-loader -->
    </div><!-- End .intro-slider-container -->

            


            <div class="mb-4"></div><!-- End .mb-4 -->

 {% comment %} <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="banner banner-overlay banner-overlay-light">
                <a href="#">
                    <img src="{% static 'assets/images/demos/demo-4/banners/banner-1.png' %}" alt="Banner">
                </a>
                <div class="banner-content">
                    <h4 class="banner-subtitle"><a href="#">Smart Offer</a></h4>
                    <h3 class="banner-title"><a href="#">Save $150 <strong>on Samsung Galaxy Note9</strong></a></h3>
                    <a href="#" class="banner-link">Shop Now<i class="icon-long-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4">
            <div class="banner banner-overlay banner-overlay-light">
                <a href="#">
                    <img src="{% static 'assets/images/demos/demo-4/banners/banner-2.jpg' %}" alt="Banner">
                </a>
                <div class="banner-content">
                    <h4 class="banner-subtitle"><a href="#">Time Deals</a></h4>
                    <h3 class="banner-title"><a href="#"><strong>Bose SoundSport</strong> Time Deal -30%</a></h3>
                    <a href="#" class="banner-link">Shop Now<i class="icon-long-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4">
            <div class="banner banner-overlay banner-overlay-light">
                <a href="#">
                    <img src="{% static 'assets/images/demos/demo-4/banners/banner-3.png' %}" alt="Banner">
                </a>
                <div class="banner-content">
                    <h4 class="banner-subtitle"><a href="#">Clearance</a></h4>
                    <h3 class="banner-title"><a href="#"><strong>GoPro - Fusion 360</strong> Save $70</a></h3>
                    <a href="#" class="banner-link">Shop Now<i class="icon-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div> {% endcomment %}

            
            
            
            


            <div class="mb-3"></div><!-- End .mb-5 -->
            
   
            {% comment %} <div class="container new-arrivals">
                <div class="heading heading-flex mb-3">
                    <div class="heading-left">
                        <h2 class="title">New Arrivals</h2><!-- End .title -->
                    </div><!-- End .heading-left -->

                   
                </div><!-- End .heading -->

                <div class="tab-content tab-content-carousel just-action-icons-sm">
                    <div class="tab-pane p-0 fade show active" id="new-all-tab" role="tabpanel" aria-labelledby="new-all-link">
                        <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                            data-owl-options='{
                                "nav": true, 
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1200": {
                                        "items":5
                                    }
                                }
                            }'>

                            
                          
                            {% for product in products %}
                            <div class="product product-2">
                                <figure class="product-media">
                                    <span class="product-label label-circle label-top">Top</span>
                                    <a href="{% url 'store:product_detail' product.slug %}">
                                        <img src="{{ product.image.url }}" alt="Product image" class="product-image">
                                    </a>
                            
                                    <div class="product-action-vertical">
                                        <a href="{% url 'order:add-to-wishlist' pk=product.id %}" class="btn-product-icon btn-wishlist" title="Add to wishlist"></a>
                                    </div><!-- End .product-action -->
                            
                                    <div class="product-action">
                                        <a href="{% url 'order:add_to_cart' pk=product.pk %}" class="btn-product btn-cart" title="Add to cart">
                                            <span>add to cart</span>
                                        </a>
                                    </div><!-- End .product-action -->
                                </figure><!-- End .product-media -->
                            
                                <div class="product-body">
                                    <div class="product-cat">
                                        <a href="{{ product.get_product_url }}" style="font-size: 18px; font-weight: bold;">{{ product.category }}</a>
                                    </div><!-- End .product-cat -->
                                    
                                    <h3 class="product-title" style="font-size: 20px;">
                                        <a href="{{ product.get_product_url }}">{{ product.name }}</a>
                                    </h3><!-- End .product-title -->
                                    
                                    <div class="product-price" style="font-size: 18px;">
                                        ${{ product.price }} 
                                        {% if product.old_price %}
                                            <span style="font-size: 16px; color: #999;">
                                                $<del>{{ product.old_price }}</del>
                                            </span>
                                        {% endif %}
                                    </div><!-- End .product-price -->
                            
                                    <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" style="width: {{ product.average_rating|default:0|floatformat:0 }}0%;"></div><!-- End .ratings-val -->
                                        </div><!-- End .ratings -->
                                        <span class="ratings-text">( {{ product.review_count }} Reviews )</span>
                                    </div><!-- End .rating-container -->
                                </div><!-- End .product-body -->
                            </div><!-- End .product -->
                            {% endfor %}
                            
                        
                        
                      


                         
  
    

                        </div><!-- End .owl-carousel -->
                    </div><!-- .End .tab-pane -->
              
                 
                 
                </div><!-- End .tab-content -->
            </div><!-- End .container -->   {% endcomment %}

          
            <div class="container new-arrivals">
               
            
                {% for category in categories %}
                <div class="category-section">
                    <h3 class="category-title">{{ category.name }}</h3>
                    
                    <!-- Products directly under the root category -->
                    <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                         data-owl-options='{
                             "nav": true, 
                             "dots": true,
                             "margin": 20,
                             "loop": false,
                             "responsive": {
                                 "0": {"items":2},
                                 "480": {"items":2},
                                 "768": {"items":3},
                                 "992": {"items":4},
                                 "1200": {"items":5}
                             }
                         }'>
                        {% for product in category.category.all %}
                        <div class="product product-2">
                            <figure class="product-media">
                           
                                <a href="{% url 'store:product_detail' product.slug %}">
                                    <img src="{{ product.image.url }}" alt="Product image" class="product-image">
                                </a>
            
                                <div class="product-action-vertical">
                                    <a href="{% url 'order:add-to-wishlist' pk=product.id %}" class="btn-product-icon btn-wishlist" title="Add to wishlist"></a>
                                </div>
            
                                <div class="product-action">
                                    <a href="{% url 'order:add_to_cart' pk=product.pk %}" class="btn-product btn-cart" title="Add to cart">
                                        <span>add to cart</span>
                                    </a>
                                </div>
                            </figure>
            
                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="{{ product.get_product_url }}" style="font-size: 18px; font-weight: bold;">{{ product.category }}</a>
                                </div>
            
                                <h3 class="product-title" style="font-size: 20px;">
                                    <a href="{{ product.get_product_url }}">{{ product.name }}</a>
                                </h3>
            
                                <div class="product-price" style="font-size: 18px;">
                                    &#2547;{{ product.price }} 
                                    {% if product.old_price %}
                                        <span style="font-size: 16px; color: #999;">
                                            &#2547;<del>{{ product.old_price }}</del>
                                        </span>
                                    {% endif %}
                                </div>
            
                                <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-val" style="width: {{ product.average_rating|default:0|floatformat:0 }}0%;"></div>
                                    </div>
                                    <span class="ratings-text">( {{ product.review_count }} Reviews )</span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
            
                    <!-- Subcategories and their products -->
                    {% for subcategory in category.children.all %}
                    <div class="subcategory-section">
                        <h4 class="subcategory-title">{{ subcategory.name }}</h4>
                        <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                             data-owl-options='{
                                 "nav": true, 
                                 "dots": true,
                                 "margin": 20,
                                 "loop": false,
                                 "responsive": {
                                     "0": {"items":2},
                                     "480": {"items":2},
                                     "768": {"items":3},
                                     "992": {"items":4},
                                     "1200": {"items":5}
                                 }
                             }'>
                            {% for product in subcategory.category.all %}
                            <div class="product product-2">
                                <figure class="product-media">
                                    
                                    <a href="{% url 'store:product_detail' product.slug %}">
                                        <img src="{{ product.image.url }}" alt="Product image" class="product-image">
                                    </a>
            
                                    <div class="product-action-vertical">
                                        <a href="{% url 'order:add-to-wishlist' pk=product.id %}" class="btn-product-icon btn-wishlist" title="Add to wishlist"></a>
                                    </div>
            
                                    <div class="product-action">
                                        <a href="{% url 'order:add_to_cart' pk=product.pk %}" class="btn-product btn-cart" title="Add to cart">
                                            <span>add to cart</span>
                                        </a>
                                    </div>
                                </figure>
            
                                <div class="product-body">
                                    <div class="product-cat">
                                        <a href="{{ product.get_product_url }}" style="font-size: 18px; font-weight: bold;">{{ product.category }}</a>
                                    </div>
            
                                    <h3 class="product-title" style="font-size: 20px;">
                                        <a href="{{ product.get_product_url }}">{{ product.name }}</a>
                                    </h3>
            
                                    <div class="product-price" style="font-size: 18px;">
                                        &#2547;{{ product.price }} 
                                        {% if product.old_price %}
                                            <span style="font-size: 16px; color: #999;">
                                                &#2547;<del>{{ product.old_price }}</del>
                                            </span>
                                        {% endif %}
                                    </div>
            
                                    <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" style="width: {{ product.average_rating|default:0|floatformat:0 }}0%;"></div>
                                        </div>
                                        <span class="ratings-text">( {{ product.review_count }} Reviews )</span>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
            
                </div>
                {% endfor %}
            </div>
            
            
           

            
         


















   

          
        


            <div class="mb-5"></div><!-- End .mb-5 -->

            <div class="container for-you">
                <div class="heading heading-flex mb-3">
                    <div class="heading-left">
                        
                    </div>
                    <div class="heading-right">
                        {% comment %} <a href="{% url 'recommended_products' %}" class="title-link">View All Recommendations <i class="icon-long-arrow-right"></i></a> {% endcomment %}
                    </div>
                </div>
            
                <div class="products">
                    <div class="row justify-content-center">
                        {% for product in recommended_products %}
                            <div class="col-6 col-md-4 col-lg-3">
                                <div class="product product-2">
                                    <figure class="product-media">
                                        {% if product.old_price %}
                                            <span class="product-label label-circle label-sale">Sale</span>
                                        {% endif %}
                                        <a href="{{ product.get_product_url }}">
                                            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">
                                        </a>
                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-wishlist" title="Add to wishlist"></a>
                                        </div>
                                        <div class="product-action">
                                            <a href="#" class="btn-product btn-cart" title="Add to cart"><span>add to cart</span></a>
                                            <a href="#" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                                        </div>
                                    </figure>
                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a href="#">{{ product.category.name }}</a>
                                        </div>
                                        <h3 class="product-title"><a href="{{ product.get_product_url }}">{{ product.name }}</a></h3>
                                        <div class="product-price">
                                            <span class="new-price">&#2547;{{ product.price }}</span>
                                            {% if product.old_price %}
                                                <span class="old-price">Was &#2547;{{ product.old_price }}</span>
                                            {% endif %}
                                        </div>
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 40%;"></div>
                                            </div>
                                            <span class="ratings-text">(4 Reviews)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            
          
                            

                                
        </main><!-- End .main -->


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const removeButtons = document.querySelectorAll('.remove-button');
        const quantityInputs = document.querySelectorAll('.quantity-input');
        const totalAmountElement = document.getElementById('total-amount');
    
        // Update total amount
        function updateTotal() {
            let total = 0;
            const cartItems = document.querySelectorAll('.cart-item');
    
            cartItems.forEach(item => {
                const priceText = item.querySelector('.cart-item-price').innerText.replace('$', '');
                const quantity = item.querySelector('.quantity-input').value;
                total += parseFloat(priceText) * quantity;
            });
    
            totalAmountElement.innerText = `$${total.toFixed(2)}`;
        }
    
        // Handle quantity change
        quantityInputs.forEach(input => {
            input.addEventListener('change', updateTotal);
        });
    
        // Handle item removal
        removeButtons.forEach(button => {
            button.addEventListener('click', function () {
                const itemToRemove = this.closest('.cart-item');
                itemToRemove.remove();
                updateTotal();
            });
        });
    
        // Initial total calculation
        updateTotal();
    });

    $(document).ready(function() {
    $(".owl-carousel").owlCarousel({
        nav: true,
        dots: true,
        margin: 20,
        loop: false,
        responsive: {
            0: { items: 2 },
            480: { items: 2 },
            768: { items: 3 },
            992: { items: 4 },
            1200: { items: 5 }
        }
    });
});

    
</script>
    
{% endblock body %}