{% extends "base.html" %}
{% block title %}Product Page || E-SHOP {% endblock title %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/product.css' %}">
{% endblock css %}

{% block body %}

        <main class="main">
            {% comment %} <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container d-flex align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url "store:index" %}">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Products</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Default</li>
                    </ol>

                    <nav class="product-pager ml-auto" aria-label="Product">
                        <a class="product-pager-link product-pager-prev" href="#" aria-label="Previous" tabindex="-1">
                            <i class="icon-angle-left"></i>
                            <span>Prev</span>
                        </a>

                        <a class="product-pager-link product-pager-next" href="#" aria-label="Next" tabindex="-1">
                            <span>Next</span>
                            <i class="icon-angle-right"></i>
                        </a>
                    </nav><!-- End .pager-nav -->
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav --> {% endcomment %}

            <div class="page-content">
                <div class="container">
                    <div class="product-details-top">
                        <div class="row">
                            {% comment %} <div class="col-md-6">
                                <div class="product-gallery product-gallery-vertical">
                                    <div class="row">
                                        <figure class="product-main-image">
                                            <img id="product-zoom" src="{{item.image.url}}" data-zoom-image="{{item.image.url}}" alt="product image">

                                            <a href="#" id="btn-product-gallery" class="btn-product-gallery">
                                                <i class="icon-arrows"></i>
                                            </a>
                                        </figure><!-- End .product-main-image -->

                                        <div id="product-zoom-gallery" class="product-image-gallery">

                                            {% for product_image in product_images %}
                                            <a class="product-gallery-item active" href="#" data-image="{{product_image.image.url}}" data-zoom-image="{{product_image.image.url}}">
                                                <img src="{{product_image.image.url}}" alt="product side">
                                            </a>
                                            {% endfor %}
                                          
                                        </div><!-- End .product-image-gallery -->
                                    </div><!-- End .row -->
                                </div><!-- End .product-gallery -->
                            </div><!-- End .col-md-6 --> {% endcomment %}

                            <div class="col-md-6">
                                <div class="product-gallery product-gallery-vertical">
                                    <div class="row">
                                        <figure class="product-main-image">
                                            <img id="product-zoom" src="{{ item.image.url }}" 
                                                 data-zoom-image="{{ item.image.url }}" 
                                                 alt="product image" class="img-fluid">
                            
                                            <a href="#" id="btn-product-gallery" class="btn-product-gallery">
                                                <i class="icon-arrows"></i>
                                            </a>
                                        </figure><!-- End .product-main-image -->
                            
                                        <div id="product-zoom-gallery" class="product-image-gallery">
                                            {% for product_image in product_images %}
                                            <a class="product-gallery-item" href="#" 
                                               data-image="{{ product_image.image.url }}" 
                                               data-zoom-image="{{ product_image.image.url }}">
                                                <img src="{{ product_image.image.url }}" alt="product side" class="img-thumbnail">
                                            </a>
                                            {% endfor %}
                                        </div><!-- End .product-image-gallery -->
                                    </div><!-- End .row -->
                                </div><!-- End .product-gallery -->
                            </div><!-- End .col-md-6 -->
                            


                            <div class="col-md-6">
                                <div class="product-details">
                                    <h1 class="product-title">{{item.name}}</h1><!-- End .product-title -->

                                    <div class="ratings-container">
                                       
                                        <div class="ratings">
                                            <div class="ratings-val" style="width: {{ average_rating|floatformat:0 }}0%;"></div>
                                        </div><!-- End .ratings -->
                                        
                                        <span><a class="ratings-text" href="#product-review-tab" id="review-link"><span>(  Reviews {{reviews.count}} )</span></a></span>
                                    </div><!-- End .rating-container -->

                                    <div class="product-price">
                                        &#2547;{{item.price}}
                                     
                                    </div>
                                    {% if item.old_price %}
                                    <div class="product-price">
                                              
                                      <del> &#2547;{{item.old_price}}</del>
                                     
                                    </div>
                             
                                    {% endif %}
                                    
                             
                                    <!-- End .product-price -->

                                    <div class="product-content">
                                        <p>{{item.preview_des}}</p>
                                    
                                        <form action="{% url "order:add_to_cart" pk=item.pk %}" method="post">
                                            {% csrf_token %}
                                            
                                            {% if color_variations %}
                                                <div class="details-filter-row details-row-size">
                                                    <label for="color">Color:</label>
                                                    <div class="select-custom">
                                                        <select name="color" id="color" class="form-control">
                                                            <option value="" selected="selected">Select a color</option>
                                                            {% for variation in color_variations %}
                                                                <option value="{{ variation.name }}">{{ variation.name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        
                                            {% if size_variations %}
                                                <div class="details-filter-row details-row-size">
                                                    <label for="size">Size:</label>
                                                    <div class="select-custom">
                                                        <select name="size" id="size" class="form-control">
                                                            <option value="" selected="selected">Select a size</option>
                                                            {% for variation in size_variations %}
                                                                <option value="{{ variation.name }}">{{ variation.name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        
                                            <!-- Quantity Field -->
                                            <div class="details-filter-row details-row-size">
                                                <label for="qty">Qty:</label>
                                                <div class="product-details-quantity">
                                                    <input type="number" id="qty" class="form-control" name="quantity" value="1" min="1" max="10" required>
                                                </div>
                                            </div>
                                        
                                            <!-- Add to Cart Button -->
                                            <div class="product-details-action">
                                                <button type="submit" class="btn-product btn-cart">
                                                    <span>Add to cart</span>
                                                </button>
                                                
                                                <!-- Wishlist Link -->
                                                <div class="details-action-wrapper">
                                                    {% if request.user.is_authenticated and item.is_stock %}
                                                        <a href="{% url 'order:add-to-wishlist' pk=item.pk %}?next={{ request.path }}" class="btn-product btn-wishlist" title="Wishlist">
                                                            <span>Add to Wishlist</span>
                                                        </a>
                                                    {% elif item.is_stock %}
                                                        <a href="{% url "account:login" %}" class="btn-product btn-wishlist" title="Wishlist">
                                                            <span>Add to Wishlist</span>
                                                        </a>
                                                    {% endif %}
                                                    {% if item.is_stock %}
                                                        <h5 style="color:green;">In Stock</h5>
                                                    {% else %}
                                                        <h5 style="color:red;">Stock Out</h5>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </form>
                                            
                                      




                                    <div class="product-details-footer">
                                        <div class="product-cat">
                                            <span>Category:</span>
                                            <a href="#">{{item.category}}</a>,
                                            
                                        </div><!-- End .product-cat -->

                                      
                                    </div><!-- End .product-details-footer -->
                                </div><!-- End .product-details -->
                            </div><!-- End .col-md-6 -->

                            
                        </div><!-- End .row -->
                    </div><!-- End .product-details-top -->

                    <div class="product-details-tab">
                        <ul class="nav nav-pills justify-content-center" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="product-desc-link" data-toggle="tab" href="#product-desc-tab" role="tab" aria-controls="product-desc-tab" aria-selected="true">Description</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="product-info-link" data-toggle="tab" href="#product-info-tab" role="tab" aria-controls="product-info-tab" aria-selected="false">Additional information</a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link" id="product-review-link" data-toggle="tab" href="#product-review-tab" role="tab" aria-controls="product-review-tab" aria-selected="false">Reviews ({{ reviews.count }})</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel" aria-labelledby="product-desc-link">
                                <div class="product-desc-content">
                                    <h3>Product Information</h3>
                                    
                                    <p>{{item.description}}</p>
                                </div><!-- End .product-desc-content -->
                            </div><!-- .End .tab-pane -->
                            <div class="tab-pane fade" id="product-info-tab" role="tabpanel" aria-labelledby="product-info-link">
                                <div class="product-desc-content">
                                    <h3>Information</h3>
                                    {{item.preview_des}}
                                </div><!-- End .product-desc-content -->
                            </div><!-- .End .tab-pane -->
                            
    


                        <div class="tab-pane fade" id="product-review-tab" role="tabpanel" aria-labelledby="product-review-link">
                            <div class="reviews">
                                <h3>Reviews ({{ reviews.count }})</h3>
                        
                                <div class="ratings-container mb-4">
                                    <div class="ratings">
                                        <div class="ratings-val" style="width: {{ average_rating|floatformat:0 }}0%;"></div><!-- End .ratings-val -->
                                    </div><!-- End .ratings -->
                                    <span class="ratings-text">Average Rating: {{ average_rating|floatformat:1 }} / 5</span>
                                </div><!-- End .ratings-container -->
                                
                                {% for review in reviews %}
                                <div class="review mb-4">
                                    <div class="row no-gutters">
                                        <div class="col-auto">
                                            <h4><a href="#">{{ review.user.user_name }}</a></h4>
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-val" style="width: {{ review.rating|floatformat:0 }}0%;"></div><!-- End .ratings-val -->
                                                </div><!-- End .ratings -->
                                            </div><!-- End .ratings-container -->
                                            <span class="review-date"><h6>{{ review.created_at|timesince }} ago</h6></span>
                                        </div><!-- End .col -->
                                        <div class="col">
                                            <h4>{{ review.review_text|truncatewords:10 }}</h4>
                        
                                            <div class="review-content">
                                                <p>{{ review.review_text }}</p>
                                            </div><!-- End .review-content -->
                        
                                            {% if review.images.all %}
                                            <div class="review-images">
                                                <h5>Review Images:</h5>
                                                <div class="row">
                                                    {% for image in review.images.all %}
                                                    <div class="col-6 col-md-4 mb-2">
                                                        <img src="{{ image.image.url }}" alt="Review image" class="img-fluid" style="max-height: 150px; object-fit: cover;">
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div><!-- End .review-images -->
                                            {% endif %}
                                        </div><!-- End .col -->
                                    </div><!-- End .row -->
                                </div><!-- End .review -->
                                {% empty %}
                                <p>No reviews yet. Be the first to review this product!</p>
                                {% endfor %}
                                
                            </div><!-- End .reviews -->
                        </div>
                        
                    </div><!-- End .product-details-tab -->


                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->



        <style>
            .review-images img {
                border-radius: 5px; /* Slightly rounded corners */
                transition: transform 0.2s; /* Animation on hover */
            }
            
            .review-images img:hover {
                transform: scale(1.05); /* Slight zoom effect on hover */
            }

            
            
        </style>

        <script>
            <div class="col-md-6">
                <div class="product-gallery product-gallery-vertical">
                    <div class="row">
                        <figure class="product-main-image">
                            <img id="product-zoom" src="{{ item.image.url }}" 
                                 data-zoom-image="{{ item.image.url }}" 
                                 alt="product image" class="img-fluid">
            
                            <a href="#" id="btn-product-gallery" class="btn-product-gallery">
                                <i class="icon-arrows"></i>
                            </a>
                        </figure><!-- End .product-main-image -->
            
                        <div id="product-zoom-gallery" class="product-image-gallery">
                            {% for product_image in product_images %}
                            <a class="product-gallery-item" href="#" 
                               data-image="{{ product_image.image.url }}" 
                               data-zoom-image="{{ product_image.image.url }}">
                                <img src="{{ product_image.image.url }}" alt="product side" class="img-thumbnail">
                            </a>
                            {% endfor %}
                        </div><!-- End .product-image-gallery -->
                    </div><!-- End .row -->
                </div><!-- End .product-gallery -->
            </div><!-- End .col-md-6 -->
            
        </script>

{% endblock body %}