{% extends "base.html" %}
{% block tittle %}Wishlist||E-Shop{% endblock tittle %}
{% load static %}
 {% block body %}
        <main class="main">
        	
        

            <div class="page-content">
            	<div class="container">
					<table class="table table-wishlist table-mobile">
						<thead>
							<tr>
								<th>Product</th>
								<th>Price</th>
								<th>Stock Status</th>
								<th></th>
								<th></th>
							</tr>
						</thead>

						<tbody>
							

						   {% for item in wishlist_items %}
								<tr>
									<td class="product-col">
										<div class="product">
											<figure class="product-media">
												<a href="#">
													<img src="{{item.product.image.url}}" alt="{{ item.product.name }}">
												</a>
											</figure>

											<h3 class="product-title">
												<a href="{% url "store:product_detail" item.product.slug %}">{{item.product.name}}</a>
											</h3><!-- End .product-title -->
										</div><!-- End .product -->
									</td>
									<td class="price-col">{{item.product.price}}</td>
									{% if item.product.is_stock %}
									  <td class="stock-col"><span class="in-stock" style="color:green;">In stock</span></td>
									  {% else %}
									  <td class="stock-col"><span class="in-stock" style="color:red;">stock Out</span></td>
									{% endif %}
									
									<td class="action-col">
										
										<button class="btn btn-block btn-outline-primary-2"><i class="icon-cart-plus"></i><a href="{% url "order:add_to_cart" pk=item.product.id %}">Add to cart</a></button>
									</td>
									   
									<td class="remove-col">
										<form method="POST" action="{% url 'order:remove_from_wishlist' item.product.pk %}" onsubmit="return confirm('Are you sure you want to remove this item?');">
											{% csrf_token %}
											<button class="btn-remove" type="submit">
												<i class="icon-close" style="color:red;"></i>
											</button>
										</form>
										
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table><!-- End .table table-wishlist -->
	            	
            	</div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->
{% endblock body %}