/* Checkout form styling */

/* Set main container to fill the viewport height */
.main {
    min-height: 100vh; /* Minimum height to cover the full viewport */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0; /* Optional padding for spacing */
}

.page-content {
    width: 100%; /* Ensure content fills main width */
    
}

.checkout .container {
    max-width: 1200px; /* Optional: control width of the checkout form */
    margin: auto;
}





.checkout-form .form-group {
    margin-bottom: 1.5rem;
}

.checkout-title {
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: #333;
}

.form-control {
    border: 1px solid #1e1b1b;
    border-radius: 0.3rem;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #f5efef;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

.btn-outline-primary-2 {
    border: 2px solid #007bff;
    color: #007bff;
    background-color: transparent;
    font-weight: 500;
    transition: all 0.3s ease;
}

.btn-outline-primary-2:hover {
    color: #fff;
    background-color: #007bff;
}

.summary {
    background-color: #f9f9f9;
    padding: 1.5rem;
    border: 1px solid #eaeaea;
    border-radius: 0.3rem;
}

.summary-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #333;
}

.table th, .table td {
    color: #555;
    padding: 0.75rem;
}

.table-bordered {
    border: 1px solid #ddd;
}

.table thead th {
    background-color: #f1f1f1;
}
