<!DOCTYPE html>
<html lang="en">


<!-- molla/index-4.html  22 Nov 2019 09:53:08 GMT -->
<head>
    {% load category %}
    {% load cart_product %}
    {% load logoinfo %}
    {% load notification %}
    
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %} {% endblock title %}</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ request|favicon }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ request|favicon }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ request|favicon }}">
    <link rel="manifest" href="{% static 'assets/images/icons/site.html' %}">
    <link rel="mask-icon" href="{% static 'assets/images/icons/safari-pinned-tab.svg' %}" color="#666666">
    <link rel="shortcut icon" href="{{ request.user|favicon }}">
    <meta name="apple-mobile-web-app-title" content="E-Shop">
    <meta name="application-name" content="E-Shop">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="{% static 'assets/images/icons/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{% static 'assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css' %}">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/owl-carousel/owl.carousel.css' %}">
     <link rel="stylesheet" href="{% static 'assets/css/plugins/magnific-popup/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/jquery.countdown.css' %}">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/skins/skin-demo-4.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/demos/demo-4.css' %}"> 
    
     <!-- Add Line Awesome stylesheet -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
     <link rel="stylesheet" href="{% static 'assets/css/base.css' %}">
    {% block css %}

    {% endblock css %}
   

        







</head>

<body>
    <div class="page-wrapper">
     
        <header class="header header-clearance">
        
            <!-- Middle Section -->
            <div class="header-middle py-3" style="background-color: #007bff; color: white;">
                <div class="container d-flex justify-content-between align-items-center">
                    <!-- Logo -->
                    <a href="{% url 'store:index' %}" class="logo">
                        <img src="{{request|logo}}" alt="E-Shop Logo" width="50" height="35">
                    </a>
        
                    <!-- Search Bar -->
                    <div class="header-search d-none d-lg-block mx-auto">
                        <form action="{% url 'store:search_results' %}" method="GET" class="form-inline">
                            <input type="search" class="form-control form-control-lg" name="search_product" placeholder="Search for products..." required>
                            <button class="btn btn-outline-light ml-2" type="submit"></button>
                        </form>
                    </div>
        
                    <!-- Wishlist, Cart, Profile -->
                    <div class="header-right d-flex align-items-center">
                        <!-- Wishlist -->
                        <a href="{% url 'order:view_wishlist' %}" class="text-white mx-3">
                            <i class="icon-heart-o fa-lg"></i>
                            <span class="badge badge-danger">{{ request.user|wishlist_count }}</span>
                        </a>
        
                        <!-- Cart -->
                        <div class="dropdown">
                            <a href="#" class="text-white mx-3 dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-shopping-cart fa-lg"></i>
                                <span class="badge badge-danger">{{ request.user|cart_count }}</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right p-3">
                                {% if request.user.is_authenticated %}
                                    {% for cart in request.user|cart_view %}
                                        <div class="dropdown-item d-flex justify-content-between align-items-center">
                                            <div>
                                                <h6>{{cart.item.name}}</h6>
                                                <span>{{cart.quantity}} x ${{cart.get_total}}</span>
                                            </div>
                                            <img src="{{cart.item.image.url}}" alt="product" width="50">
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <p>Your cart is empty.</p>
                                {% endif %}
                                <div class="dropdown-footer mt-2 d-flex justify-content-between">
                                    <a href="{% url 'order:cart' %}" class="btn btn-primary btn-sm">View Cart</a>
                                    <a href="{% url 'payment:checkout'  %}" class="btn btn-outline-primary btn-sm">Checkout</a>
                                </div>
                            </div>
                        </div>
        
                         <!-- Notification Dropdown -->
                                                   
                            <div class="dropdown cart-dropdown">
                                <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                                    <div class="icon">
                                        <i class="fas fa-bell" style="color: #fa003f; font-size: 18px; mr-2"></i>
                                        <span class="cart-count badge badge-danger">{{ request.user|notification_count }}</span>
                                    </div>
                                   
                                </a>

                                <div class="dropdown-menu dropdown-menu-right" style="width: 300px;">
                                    {% if request.user.is_authenticated and request.user|notification_count > 0 %}
                                        <div class="dropdown-cart-products">
                                            {% for notification in request.user|notification %}
                                                <div class="product">
                                                    <div class="product-cart-details">
                                                        <h6 class="product-title">
                                                            <a href="{% url "notification:is_read" notification.pk %}">
                                                                {{ notification.message|truncatechars:50 }}
                                                            </a>
                                                        </h6>
                                                        <p class="text-muted small">{{ notification.timestamp|date:"F j, Y, g:i a" }}</p>
                                                    </div>
                                                </div>
                                                <hr>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        <p class="text-center">No new notifications.</p>
                                    {% endif %}
                                </div>
                            </div>





                        <!-- Profile -->
                        {% if request.user.is_authenticated %}
                            <div class="dropdown mx-3">
                                <a href="#" class="text-white dropdown-toggle" data-toggle="dropdown">
                                    <i class="fas fa-user fa-lg"></i>
                                   
                                </a>
                               
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="{% url 'account:profile' %}" class="dropdown-item">Profile</a>
                                     
                                    <a href="{% url 'account:logout' %}" class="dropdown-item">Logout</a>
                                </div>
                            </div>
                            <p style= "color:black;">{{request.user.user_name}}</p>
                        {% else %}
                            <a href="{% url 'account:login' %}" class="text-white mx-3">
                                <i class="fas fa-user fa-lg"></i>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        
            <!-- Bottom Navigation -->
    <div class="header-bottom sticky-header py-2" style="background-color: #343a40;">
        <div class="container d-flex justify-content-between">
            <!-- Categories Dropdown -->
            <div class="dropdown">
                <a href="#" class="dropdown-toggle text-white" data-toggle="dropdown">
                    Browse Categories <i class="icon-angle-down"></i>
                </a>
                <div class="dropdown-menu dropdown-category">
                    <nav>
                        <ul class="list-unstyled">
                            {% for cat in request.user|category %}
                                <li class="category-item">
                                    <!-- Pass category ID to search view -->
                                    <a href="{% url 'store:search_results' %}?category={{ cat.id }}" class="category-link">{{ cat.name }}</a>
                                    {% if cat.children.exists %}
                                        <ul class="list-unstyled subcategory-list">
                                            {% for subcategory in cat.children.all %}
                                                <!-- Pass subcategory ID to search view -->
                                                <li class="subcategory-item">
                                                    <a href="{% url 'store:search_results' %}?subcategory={{ subcategory.id }}" class="subcategory-link">{{ subcategory.name }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
                
            </div>

            <!-- Main Navigation -->
            <nav class="main-nav">
                <ul class="list-unstyled d-flex">
                    <li><a href="{% url 'store:index' %}" class="nav-link px-3 text-white">Home</a></li>
                    {% comment %} <li><a href="#" class="nav-link px-3 text-white">Shop</a></li>
                    <li><a href="#" class="nav-link px-3 text-white">Offers</a></li>
                    <li><a href="#" class="nav-link px-3 text-white">Contact</a></li> {% endcomment %}
                </ul>
            </nav>
        </div>
    </div>
</header>
        
  
        
    


 
 
{% block body %}
 
   
 
 {% endblock body %}



 <footer class="footer">
    <div class="cta bg-image" style="background-image: url({% static 'assets/images/demos/demo-4/bg-5.jpg' %}); color: #ffffff;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-10 col-md-8 col-lg-6">
                    <div class="cta-heading text-center">
                        <h3 class="cta-title">Get The Latest Deals</h3>
                        <p class="cta-desc">and receive <span class="font-weight-normal">$20 coupon</span> for first shopping</p>
                    </div>

                    <form action="#">
                        <div class="input-group input-group-round">
                            <input type="email" class="form-control" placeholder="Enter your Email Address" aria-label="Email Address" required style="border: 1px solid #ffffff; background-color: rgba(255, 255, 255, 0.8);">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit"><span>Subscribe</span><i class="icon-long-arrow-right"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-middle" style="background-color: #f8f9fa; color: #333;">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="widget widget-about">
                        
                        <p>Quality products and great customer service.</p>
                        <div class="widget-call">
                            <i class="icon-phone" style="color: #007bff;"></i>
                            Got Questions? Call us 24/7
                            <a href="tel:#" style="color: #007bff;">01756135846</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title" style="color: #007bff;">Useful Links</h4>
                        <ul class="widget-list">
                            <li><a href="#" style="color: #333;">About Us</a></li>
                            <li><a href="#" style="color: #333;">Our Services</a></li>
                            <li><a href="#" style="color: #333;">How to Shop</a></li>
                            <li><a href="#" style="color: #333;">FAQ</a></li>
                            <li><a href="#" style="color: #333;">Contact Us</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title" style="color: #007bff;">Customer Service</h4>
                        <ul class="widget-list">
                            <li><a href="#" style="color: #333;">Payment Methods</a></li>
                            <li><a href="#" style="color: #333;">Money-back Guarantee</a></li>
                            <li><a href="#" style="color: #333;">Returns</a></li>
                            <li><a href="#" style="color: #333;">Shipping</a></li>
                            <li><a href="#" style="color: #333;">Terms & Conditions</a></li>
                            <li><a href="#" style="color: #333;">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title" style="color: #007bff;">My Account</h4>
                        <ul class="widget-list">
                            <li><a href="#" style="color: #333;">Sign In</a></li>
                            <li><a href="order:cart" style="color: #333;">View Cart</a></li>
                            <li><a href="order:view_wishlist" style="color: #333;">My Wishlist</a></li>
                            <li><a href="account:profile" style="color: #333;">Track My Order</a></li>
                            
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Social Media Links -->
            <div class="row mt-4">
                <div class="col text-center">
                    <h4 class="widget-title" style="color: #007bff;">Follow Us</h4>
                    <div class="social-icons">
                        <a href="#" class="social-icon" title="Facebook" style="color: #007bff;"><i class="icon-facebook"></i></a>
                        <a href="#" class="social-icon" title="Twitter" style="color: #007bff;"><i class="icon-twitter"></i></a>
                        <a href="#" class="social-icon" title="Instagram" style="color: #007bff;"><i class="icon-instagram"></i></a>
                        <a href="#" class="social-icon" title="LinkedIn" style="color: #007bff;"><i class="icon-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom" style="background-color: #343a40; color: #ffffff; padding: 15px 0;">
        <div class="container d-flex justify-content-between align-items-center">
            <p class="footer-copyright mb-0">Copyright © 2024 E-SHOP. All Rights Reserved.</p>
            
        </div>
    </div>
</footer>

</div><!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

<!-- Mobile Menu -->
<div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

<div class="mobile-menu-container mobile-menu-light">
<div class="mobile-menu-wrapper">
    <span class="mobile-menu-close"><i class="icon-close"></i></span>
    
    <form action="#" method="get" class="mobile-search">
        <label for="mobile-search" class="sr-only">Search</label>
        <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..." required>
        <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
    </form>

    <ul class="nav nav-pills-mobile nav-border-anim" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="mobile-menu-link" data-toggle="tab" href="#mobile-menu-tab" role="tab" aria-controls="mobile-menu-tab" aria-selected="true">Menu</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="mobile-cats-link" data-toggle="tab" href="#mobile-cats-tab" role="tab" aria-controls="mobile-cats-tab" aria-selected="false">Categories</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="mobile-menu-tab" role="tabpanel" aria-labelledby="mobile-menu-link">
            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li class="active">
                        <a href="store:index">Home</a>

                    </li>
                 
                   
                
                    
                  
                </ul>
            </nav><!-- End .mobile-nav -->
        </div><!-- .End .tab-pane -->
        <div class="tab-pane fade" id="mobile-cats-tab" role="tabpanel" aria-labelledby="mobile-cats-link">
            <nav class="mobile-cats-nav">
                <ul class="mobile-cats-menu">
                    <li><a class="mobile-cats-lead" href="#">Daily offers</a></li>
                    <li><a class="mobile-cats-lead" href="#">Gift Ideas</a></li>
                    <li><a href="#">Beds</a></li>
                    <li><a href="#">Lighting</a></li>
                    <li><a href="#">Sofas & Sleeper sofas</a></li>
                    <li><a href="#">Storage</a></li>
                    <li><a href="#">Armchairs & Chaises</a></li>
                    <li><a href="#">Decoration </a></li>
                    <li><a href="#">Kitchen Cabinets</a></li>
                    <li><a href="#">Coffee & Tables</a></li>
                    <li><a href="#">Outdoor Furniture </a></li>
                </ul><!-- End .mobile-cats-menu -->
            </nav><!-- End .mobile-cats-nav -->
        </div><!-- .End .tab-pane -->
    </div><!-- End .tab-content -->

    <div class="social-icons">
        <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
        <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
        <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
        <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
    </div><!-- End .social-icons -->
</div><!-- End .mobile-menu-wrapper -->
</div><!-- End .mobile-menu-container -->

<!-- Sign in / Register Modal -->
<div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="icon-close"></i></span>
            </button>

            <div class="form-box">
                <div class="form-tab">
                    <ul class="nav nav-pills nav-fill nav-border-anim" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin" role="tab" aria-controls="signin" aria-selected="true">Sign In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">Register</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="tab-content-5">
                        <div class="tab-pane fade show active" id="signin" role="tabpanel" aria-labelledby="signin-tab">
                            <form action="#">
                                <div class="form-group">
                                    <label for="singin-email">Username or email address *</label>
                                    <input type="text" class="form-control" id="singin-email" name="singin-email" required>
                                </div><!-- End .form-group -->

                                <div class="form-group">
                                    <label for="singin-password">Password *</label>
                                    <input type="password" class="form-control" id="singin-password" name="singin-password" required>
                                </div><!-- End .form-group -->

                                <div class="form-footer">
                                    <button type="submit" class="btn btn-outline-primary-2">
                                        <span>LOG IN</span>
                                        <i class="icon-long-arrow-right"></i>
                                    </button>

                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="signin-remember">
                                        <label class="custom-control-label" for="signin-remember">Remember Me</label>
                                    </div><!-- End .custom-checkbox -->

                                    <a href="#" class="forgot-link">Forgot Your Password?</a>
                                </div><!-- End .form-footer -->
                            </form>
                            <div class="form-choice">
                                <p class="text-center">or sign in with</p>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <a href="#" class="btn btn-login btn-g">
                                            <i class="icon-google"></i>
                                            Login With Google
                                        </a>
                                    </div><!-- End .col-6 -->
                                    <div class="col-sm-6">
                                        <a href="#" class="btn btn-login btn-f">
                                            <i class="icon-facebook-f"></i>
                                            Login With Facebook
                                        </a>
                                    </div><!-- End .col-6 -->
                                </div><!-- End .row -->
                            </div><!-- End .form-choice -->
                        </div><!-- .End .tab-pane -->
                        <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                            <form action="#">
                                <div class="form-group">
                                    <label for="register-email">Your email address *</label>
                                    <input type="email" class="form-control" id="register-email" name="register-email" required>
                                </div><!-- End .form-group -->

                                <div class="form-group">
                                    <label for="register-password">Password *</label>
                                    <input type="password" class="form-control" id="register-password" name="register-password" required>
                                </div><!-- End .form-group -->

                                <div class="form-footer">
                                    <button type="submit" class="btn btn-outline-primary-2">
                                        <span>SIGN UP</span>
                                        <i class="icon-long-arrow-right"></i>
                                    </button>

                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="register-policy" required>
                                        <label class="custom-control-label" for="register-policy">I agree to the <a href="#">privacy policy</a> *</label>
                                    </div><!-- End .custom-checkbox -->
                                </div><!-- End .form-footer -->
                            </form>
                            <div class="form-choice">
                                <p class="text-center">or sign in with</p>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <a href="#" class="btn btn-login btn-g">
                                            <i class="icon-google"></i>
                                            Login With Google
                                        </a>
                                    </div><!-- End .col-6 -->
                                    <div class="col-sm-6">
                                        <a href="#" class="btn btn-login  btn-f">
                                            <i class="icon-facebook-f"></i>
                                            Login With Facebook
                                        </a>
                                    </div><!-- End .col-6 -->
                                </div><!-- End .row -->
                            </div><!-- End .form-choice -->
                        </div><!-- .End .tab-pane -->
                    </div><!-- End .tab-content -->
                </div><!-- End .form-tab -->
            </div><!-- End .form-box -->
        </div><!-- End .modal-body -->
    </div><!-- End .modal-content -->
</div><!-- End .modal-dialog -->
</div><!-- End .modal -->

 



<!-- Plugins JS File -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.hoverIntent.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'assets/js/superfish.min.js' %}"></script>
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap-input-spinner.js' %}"></script>
<script src="{% static 'assets/js/jquery.plugin.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.countdown.min.js' %}"></script>
<!-- Main JS File -->
<script src="{% static 'assets/js/main.js' %}"></script>
<script src="{% static 'assets/js/demos/demo-4.js' %}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/elevatezoom/3.0.8/jquery.elevatezoom.min.js"></script>









{% comment %} <script>
    // Scroll to Top Button
document.getElementById("scroll-top").addEventListener("click", function() {
    window.scrollTo({
        top: 0,
        behavior: 'smooth'
    });
});

// Toggle Mobile Menu
document.querySelector('.mobile-menu-close').addEventListener('click', function() {
    document.querySelector('.mobile-menu-container').classList.toggle('active'); // Add or remove active class
});

// JavaScript to handle dropdown on click
document.querySelectorAll('.category-link').forEach(link => {
    link.addEventListener('click', function (event) {
        const submenu = this.nextElementSibling;
        if (submenu) {
            event.preventDefault(); // Prevent default link behavior
            submenu.classList.toggle('show'); // Toggle the visibility of the submenu
        }
    });
});


</script> {% endcomment %}

</body>


<!-- molla/index-4.html  22 Nov 2019 09:54:18 GMT -->
</html>